<h3>Sample1.py</h3>

In [1]:
sale = [80, 60, 22, 50, 75]

print(sale)

[80, 60, 22, 50, 75]

<h3>Sample2.py</h3>

In [2]:
sale = [80, 60, 22, 50, 75]

print(sale[0])
print(sale[1])
print(sale[2])
print(sale[3])
print(sale[4])

print("リストの長さは", len(sale), "です。")

80
60
22
50
75
リストの長さは 5 です。

<h3>Sample3.py</h3>

In [3]:
sale = [80, 60, 22, 50, 75]

for s in sale:
    print(s)

print("リストの長さは", len(sale), "です。")

80
60
22
50
75
リストの長さは 5 です。

<h3>Sample4.py</h3>

In [4]:
sale = [80, 60, 22, 50, 75]

i = int(input("何番のデータを変更しますか？"))
num = int(input("変更後のデータを入力してください。"))

print(i, "番のデータ" , sale[i], "を変更します。")

sale[i] = num

print(i, "番のデータは", sale[i],  "に変更されました。")

何番のデータを変更しますか？2
変更後のデータを入力してください。10
2 番のデータ 22 を変更します。
2 番のデータは 10 に変更されました。

<h3>Sample5.py</h3>

In [5]:
sale = [80, 60, 22, 50, 75]
print("現在のデータは", sale, "です。")

print("末尾に100を追加します。")
sale.append(100)
print("現在のデータは", sale, "です。")

print("sale[2]に25を挿入します。")
sale.insert(2, 25)
print("現在のデータは", sale, "です。")

現在のデータは [80, 60, 22, 50, 75] です。
末尾に100を追加します。
現在のデータは [80, 60, 22, 50, 75, 100] です。
sale[2]に25を挿入します。
現在のデータは [80, 60, 25, 22, 50, 75, 100] です。

<h3>Sample6.py</h3>

In [6]:
sale = [80, 60, 22, 50, 75]
print("現在のデータは", sale, "です。")

print("先頭のデータを削除します。")
del sale[0]
print("現在のデータは", sale, "です。")

print("22を削除します。")
sale.remove(22)
print("現在のデータは", sale, "です。")

現在のデータは [80, 60, 22, 50, 75] です。
先頭のデータを削除します。
現在のデータは [60, 22, 50, 75] です。
22を削除します。
現在のデータは [60, 50, 75] です。

<h3>Sample7.py</h3>

In [7]:
data1 = [1,2,3,4,5]
data2 = data1

print("data1は", data1, "です。")
print("data2は", data2, "です。")

data1[0] = 10

print("data1を変更します。")

print("data1は", data1, "です。")
print("data2は", data2, "です。")

data1は [1, 2, 3, 4, 5] です。
data2は [1, 2, 3, 4, 5] です。
data1を変更します。
data1は [10, 2, 3, 4, 5] です。
data2は [10, 2, 3, 4, 5] です。

<h3>Sample8.py</h3>

In [8]:
data1 = [1,2,3,4,5]
data2 = list(data1)

print("data1は", data1, "です。")
print("data2は", data2, "です。")

data1[0] = 10

print("data1を変更します。")

print("data1は", data1, "です。")
print("data2は", data2, "です。")

data1は [1, 2, 3, 4, 5] です。
data2は [1, 2, 3, 4, 5] です。
data1を変更します。
data1は [10, 2, 3, 4, 5] です。
data2は [1, 2, 3, 4, 5] です。

<h3>Sample9.py</h3>

In [9]:
sale1 = [1, 2, 3, 4, 5, 6]
print("上半期のデータは", sale1, "です。")

sale2 = [7, 8, 9, 10, 11, 12]
print("下半期のデータは", sale2, "です。")

ysale = sale1 + sale2

print("年間のデータは", ysale, "です。")

上半期のデータは [1, 2, 3, 4, 5, 6] です。
下半期のデータは [7, 8, 9, 10, 11, 12] です。
年間のデータは [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] です。

<h3>Sample10.py</h3>

In [10]:
ysale = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print("年間のデータは", ysale, "です。")

sale1 = ysale[0:6]
print("上半期のデータは", sale1, "です。")

sale2 = ysale[6:]
print("下半期のデータは", sale2, "です。")

sale3 = ysale[::2]
print("一か月おきのデータは", sale3, "です。")

sale4 = ysale[::-1]
print("逆順のデータは", sale4, "です。")

print("年間のデータは", ysale, "です。")
print("上半期のデータを差し替えます。")
ysale[:6] = [0, 0, 0, 0, 0, 0]
print("年間のデータは", ysale, "です。")

年間のデータは [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] です。
上半期のデータは [1, 2, 3, 4, 5, 6] です。
下半期のデータは [7, 8, 9, 10, 11, 12] です。
一か月おきのデータは [1, 3, 5, 7, 9, 11] です。
逆順のデータは [12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1] です。
年間のデータは [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] です。
上半期のデータを差し替えます。
年間のデータは [0, 0, 0, 0, 0, 0, 7, 8, 9, 10, 11, 12] です。

<h3>Sample11.py</h3>

In [11]:
data = [1, 2, 3, 4, 5]
print("現在のデータは", data, "です。")

print("data[::-1]をfor文で処理します。")
for d in data[::-1]:
    print(d)
print("data[::-1]は", data[::-1], "です。")
print("現在のデータは", data, "です。")

print("reversed(data)をfor文で処理します。")
for d in reversed(data):
    print(d)
print("reversed(data)は", reversed(data), "です。")
print("現在のデータは", data, "です。")

print("data.reverse()を処理します。")
data.reverse()
print("現在のデータは", data, "です。")

現在のデータは [1, 2, 3, 4, 5] です。
data[::-1]をfor文で処理します。
5
4
3
2
1
data[::-1]は [5, 4, 3, 2, 1] です。
現在のデータは [1, 2, 3, 4, 5] です。
reversed(data)をfor文で処理します。
5
4
3
2
1
reversed(data)は <list_reverseiterator object at 0x7fb15c380780> です。
現在のデータは [1, 2, 3, 4, 5] です。
data.reverse()を処理します。
現在のデータは [5, 4, 3, 2, 1] です。

<h3>Sample12.py</h3>

In [12]:
city = ["東京", "名古屋", "大阪", "京都"]
sale = [80, 60, 22, 50, 75]

print("都市名データは", city, "です。")
print("売上データは", sale, "です。")

print("データを組み合わせます。")

for d in zip(city, sale):
    print(d)

print("データとインデックスを組み合わせます。")

for d in enumerate(city):
    print(d)

都市名データは ['東京', '名古屋', '大阪', '京都'] です。
売上データは [80, 60, 22, 50, 75] です。
データを組み合わせます。
('東京', 80)
('名古屋', 60)
('大阪', 22)
('京都', 50)
データとインデックスを組み合わせます。
(0, '東京')
(1, '名古屋')
(2, '大阪')
(3, '京都')

<h3>Sample13.py</h3>

In [13]:
city = ["東京", "名古屋", "大阪", "京都"]
sale = [80, 60, 22, 50, 75]

print("都市名データは", city, "です。")
print("売上データは", sale, "です。")

print("データを組み合わせます。")

for d in zip(city, sale):
    print(d)

print("データを分解します。")

for c, s in zip(city, sale):
    print("都市名は", c, "売上は", s)

都市名データは ['東京', '名古屋', '大阪', '京都'] です。
売上データは [80, 60, 22, 50, 75] です。
データを組み合わせます。
('東京', 80)
('名古屋', 60)
('大阪', 22)
('京都', 50)
データを分解します。
都市名は 東京 売上は 80
都市名は 名古屋 売上は 60
都市名は 大阪 売上は 22
都市名は 京都 売上は 50

<h3>Sample14.py</h3>

In [14]:
data = [1,2,3,4,5]
print("現在のデータは", data, "です。")

ndata = [n*2 for n in data if n!=3]

print("新しいデータは", ndata, "です。")

現在のデータは [1, 2, 3, 4, 5] です。
新しいデータは [2, 4, 8, 10] です。

<h3>Sample15.py</h3>

In [15]:
sale = [80, 60, 22, 50, 75]
print("現在のデータは", sale, "です。")

print("最大のデータは", max(sale), "です。")
print("最小のデータは", min(sale), "です。")

print("データの合計は", sum(sale), "です。")

print("ソートされたデータは", sorted(sale), "です。")

現在のデータは [80, 60, 22, 50, 75] です。
最大のデータは 80 です。
最小のデータは 22 です。
データの合計は 287 です。
ソートされたデータは [22, 50, 60, 75, 80] です。

<h3>Sample16.py</h3>

In [16]:
data = [
   ["東京", 32, 25], 
   ["名古屋", 28, 21], 
   ["大阪", 27, 20],
   ["京都", 26, 19],
   ["福岡", 27, 22]
]

print("現在のデータは", data, "です。")

for dat in data:
   print("都市別データは", dat, "です。")
   for d in dat:
      print(d, end="\t")
   print()
   
print(data[0][0], "の最高気温は", data[0][1], "最低気温は", data[0][2], "です。")

現在のデータは [['東京', 32, 25], ['名古屋', 28, 21], ['大阪', 27, 20], ['京都', 26, 19], ['福岡', 27, 22]] です。
都市別データは ['東京', 32, 25] です。
東京	32	25
都市別データは ['名古屋', 28, 21] です。
名古屋	28	21
都市別データは ['大阪', 27, 20] です。
大阪	27	20
都市別データは ['京都', 26, 19] です。
京都	26	19
都市別データは ['福岡', 27, 22] です。
福岡	27	22
東京 の最高気温は 32 最低気温は 25 です。